/* стили для index.html */
.root{
  --primary-text-color: rgba (0,0,0,0.8)
  --primary-background-color: #ffffff;
  --primary-font-family: Roboto;
  --primary-font-size: 16px;
  
}
/* font-family: 'Raleway', sans-serif;

font-family:  */

/* #212121
#FFFFFF
#757575
#2196F3
#EEEEEE
#000000
#F5F4FA
#2F303A
#ECECEC */


body {
font-family: 'Roboto', sans-serif;;
font-weight: 400;
font-size: 16px;
line-height: 24px;
}

.link:hover {
  color: #000000;
}

.list {
  list-style: none;
}
.logo {
  color: #000000;
}

